@page "/drugadd"
@inherits BlazorDosimetro.Data.DrugAdd

<section class="drug-edit">
    @if (!Saved)
    {
        <h1 class="page-title">Details for @drug.Name</h1>

        <EditForm Model="@drug" OnValidSubmit="@HandleValidSubmit" OnInvalidSubmit="@HandleInvalidSubmit">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <div class="form-group row">
                <label for="lastName" class="col-sm-3">Name: </label>
                <InputText id="lastName" class="form-control col-sm-8" @bind-Value="@drug.Name" placeholder="Enter name"></InputText>
                <ValidationMessage class="offset-sm-3 col-sm-8" For="@(() => drug.Name)" />
            </div>
            <div class="form-group row">
                <label for="nopills" class="col-sm-3">Number of pills: </label>
                <InputNumber id="nopills" class="form-control col-sm-8" @bind-Value="@drug.NoPills" placeholder="Enter quantity"></InputNumber>
                <ValidationMessage class="offset-sm-3 col-sm-8" For="@(() => drug.NoPills)" />
            </div>

            <div class="form-group row">
                <label for="dosetotake" class="col-sm-3">Dose: </label>
                <InputNumber id="dosetotake" class="form-control col-sm-8" @bind-Value="@drug.DoseToTake" placeholder="Enter dose"></InputNumber>
                <ValidationMessage class="offset-sm-3 col-sm-8" For="@(() => drug.DoseToTake)" />
            </div>
            <div class="form-group row">
                <label for="startdate" class="col-sm-3">Refilled  on: </label>
                <InputDate id="startdate" class="form-control col-sm-8" @bind-Value="@drug.StartDate" placeholder="Enter date"></InputDate>
                <ValidationMessage class="offset-sm-3 col-sm-8" For="@(() => drug.StartDate)" />
            </div>
            <div class="form-group row">
                <label for="enddate" class="col-sm-3">Estimated end: </label>
                <InputDate id="enddate" class="form-control col-sm-8" @bind-Value="@drug.DateToEnd" placeholder="Enter date"></InputDate>
                <ValidationMessage class="offset-sm-3 col-sm-8" For="@(() => drug.DateToEnd)" />
            </div>

            <button type="submit" class="btn btn-primary edit-btn">Save drug</button>
           
        </EditForm>

    }
    else
    {
        <div class="alert @StatusClass">@Message</div>
        <a class="btn btn-outline-primary" @onclick="@NavigateToOverview">Back to overview</a>

    }
</section>

